@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');

:root {
    --main-color: #b59de4;
}

body {
    background: url("../../assets/images/background.png") no-repeat center fixed;
    background-size: cover;
    font-family: "Prompt", sans-serif;
}

header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #search {
    width: 25%;
    font-family: 'Prompt', sans-serif;
    min-width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--main-color);
}

header #user_picture {
    border-radius: 50%;
    margin: 0 15px;
}

header #login_button {
    text-decoration: none;
    background-color: #FFFFFF;
    color: var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
    transition: .2s;
}

header #login_button:hover {
    box-shadow: none;
}

